
@{
    ViewData["Title"] = "EmailConfirmed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EmailConfirmed</h1>

<a asp-controller="Account"  asp-action="Login" class="btn btn-success" >Click Here to Login</a>

