
@{
    ViewData["Title"] = "EmailConfirmationFailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EmailConfirmationFailed</h1>
<a asp-controller="Account" asp-action="GetStudentBy">Please Reset Your emailconfirmation token</a>
